body{
    background-color:#232323;
}
img{
    padding-top: 5%;
    height: 40%;
    width:40%;
    margin-left:30%;
    
}
img:hover{
    opacity: 0;
    transition: all ease 3s;
}
#button{
    outline:none;
    border:none;
    cursor:pointer;
    display: block;
    position: relative;
    background-color:gold;
    padding: 10px 5px;
    margin: 0 auto;
    border-radius:10px;
    font-size:19px;
    color:#232323;
}
#button:hover{
    background-color: #ffffff;
}
#button:focus{
    padding:10px 100px;
    transition: all ease 2s;
}
ul{
    list-style-type:none;
    margin:30px;
    border-radius:20px;
  }